---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h2> <span style="color:var(--color-pink)"> Hey there, I'm Migi! </span></h2>
<p>I am a Robotics Software Engineer with a passion for learning new things. Currently pursuing 
a Master's degree in machine learning, I'm fascinated by the world of artificial intelligence and 
its endless possibilities. </p>
<br>
<p>When I'm not immersed in academics or work, you'll often find me traveling, exploring nature,
crafting, baking, or at a bookstore! I also have a love for animation and art and enjoy playing video games.</p> 

<br>
<img src='/img/me/meNy2023_2.jpeg'/>


{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
